<template name="ContractCard">
    <div class="contractCard">
        <a href="{{contractUrl contract._id}}"><h3>{{contract.name}}</h3></a>
        <p>Créé le {{contractDate contract.createdAt}}</p>
    </div>
</template>