<template name="Contracts">
    <div class="contracts">
        <h1>
            Liste des contrats
        </h1>
    </div>

    <div class="">
        <button class="js-addContract">Ajouter un contrat</button>
        <button class="js-addContract">Ajouter un contrat</button>
    </div>

    <div class="contractList">
        {{#each contract in contracts}}
            {{> ContractCard contract=contract}}
        {{/each}}
    </div>


</template>
