<template name="new_contract">

    <h1 class="Contract_Details_Title">Contract Builder</h1>
    <br>

    <section class="col-xs-12 col-md-12 Contrat-MainI">

      <div class="col-xs-9 col-md-9 Customers">

        <button class="js-addContract">Fake Company</button>
        <button class="js-addContract">2.5 K</button>

      </div>

      <div class="col-xs-offset-3 col-md-offset-3 Referent_Clients">

        <button class="addCondition">Refresh Contract Results</button>

      </div>

      <br>



      <div class="col-xs-12  col-md-12 BuilderBox">
        <br>

        <section class="col-xs-2  col-md-4 Global-box">

          <div class="col-xs-12  col-md-12 textarea">
            <h6 class="col-md-12">GLOBALS CHARACTERISTIQUES</h6>

            <textarea class="col-xs-8  col-md-5" name="about" label ="Comment about this contract">
              Comment about this contract
            </textarea>

          </div>
          <br>

          <h6 class="col-md-12">CONDITIONS CONTRACT <button class="addCondition"> + Create New</button></h6>

          <div class="col-xs-2  col-md-3 Bottom-box">

            <h6 class="col-xs-12 col-md-12 subtitle">Products</h6>

            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-start" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-end" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-start" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-end" value="">

          </div>

          <div class="col-xs-3  col-md-3 Bottom-box">

            <h6 class="col-xs-12 col-md-12 subtitle">Treshold(M€)</h6>

            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-start" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-end" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-start" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-end" value="">

          </div>

          <div class="col-xs-3  col-md-3 Bottom-box">

            <h6 class="col-xs-6 col-md-6 subtitle">Rate(%)</h6>

            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-start" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-end" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-start" value="">
            <input class="col-xs-12 col-md-12" type="text" name="contract-validity-select-end" value="">

          </div>

          <div class="col-xs-3  col-md-3 Bottom-box">

            <br>
            <img class="col-xs-2 col-md-offset-2 text-left" src="./img/trash.png" style="margin:0 auto; width:30px; height:30px; margin-bottom:1px;"/><br>
            <img class="col-xs-2 col-md-offset-2 text-left" src="./img/trash.png" style="margin:0 auto; width:30px; height:30px; margin-bottom:1px;"/><br>
            <img class="col-xs-2 col-md-offset-2 text-left" src="./img/trash.png" style="margin:0 auto; width:30px; height:30px; margin-bottom:1px;"/><br>
            <img class="col-xs-2 col-md-offset-2 text-left" src="./img/trash.png" style="margin:0 auto; width:30px; height:30px; margin-bottom:1px;"/><br>
          </div>

        </section>

        <section class="col-xs-2  col-md-3 Validity-box">

          <h6 class="col-md-12">Contract validity</h6>
          <input type="date" name="contract-validity-select-start" value="">
          <input type="date" name="contract-validity-select-end" value="">

        </section>

        <section class="col-xs-2  col-md-3 TurnOverbox">

          <h6>Minimum turn over reach</h6>
          <span>22.5</span>
        </section>


        <section class="col-xs-6 col-md-offset-6 text-center TurnOverbo">

          <img class="col-xs-2 col-md-offset-2 text-left" src="./img/download.png" style="margin:0 auto; width:30px; height:30px;"/>
          <br><label for="download">Download</label>
        </section>

      </div>

    </section>

</template>
