.BuilderBox{
}

.Contrat-MainI{
}


.about{
  height:200px;
}

.Global-box{
  float:left;
}

.Validity-box{
  float:left;
}

.TurnOverbox{
  float:left;
}

.TurnOverbo{
  float:left;
}

.Bottom-box{
  float:left;
}

.Bottom-box .subtitle{
  font-size:10px;
}

.addCondition{
  border-radius: 15px;
  height:25px;
  font-size:12px;
  padding-bottom:25px;
}
