
/*** Conteneur principal ****/

.Contrat-Main{

  border:black 1px solid;
}

/*** Identitfiant Client + Fiche ****/

.Customers{
  float:left;

}

.Customers h6{

}

/*** Referent_Clients****/

.Referent_Clients{
}


/*** Clause du contrat ****/

.Contract-Clause{
}

.Contract-Clause h6{
  border:1px solid black;
}
