<template name="ContractDetail">

    <h1 class="Contract_Details_Title">Contract Detail</h1>
    <br>

    <section class="Contrat-Main">

    <div class="col-xs-4 col-md-9 Customers">

      <h6 class="Client_Details_">Fiche Entreprise</h6>

      Identifiant Client :<br>
      Raison Social :<br>
      Adresse :<br>
      Contact- Refferent :<br>
      Telephonne :<br>
      Mail :<br>

    </div>

    <div class="col-xs-4 col-md-offset-3 Referent_Clients">

      <h6 class="Client_Details_">Reference Clients</h6>

      Identifiant_Contrat : <br>
      Identifiant_Clients :<br>
      Chargé de dossier :<br>
      Date de signature :<br>
      Validité & periode :<br>
      Contact :<br>

    </div>

    <div class="col-xs-12  col-md-12 Contract-Clause">

      <h6 class="col-md-12 text-center Contrat_Clauses">Clauses & termes du contrat</h6>

      Identifiant_Contrat : <br>
      Identifiant_Clients :<br>
      Chargé de dossier :<br>
      Date de signature :<br>
      Contact :<br>
      Porteur :<br>

    </div>

    </section>

</template>
